@model FeedbackEditModel

@{
    ViewData["Title"] = "Edit Feedback no. " + Model.Id;
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
             <input type="hidden" asp-for="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="SenderName" class="control-label">Sender Name</label>
                <input asp-for="SenderName" class="form-control"/>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ShipmentTrackingNumber" class="control-label">Shipment Tracking Number</label>
                <input asp-for="ShipmentTrackingNumber" class="form-control"/>
                <span asp-validation-for="ShipmentTrackingNumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Content" class="control-label">Content</label>                
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>          
               <div class="form-group mt-2">
                <label asp-for="FeedbackType" class="control-label">Choose Feedback Type</label>
                <select asp-for="FeedbackType" class="form-select" asp-items="@Html.GetEnumSelectList<FeedbackType>()" name="FeedbackType">            <option value="" selected>Select Feedback Type</option>
                </select>
            </div>
                     <div class="form-group text-center mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="All" class="text-warning ms-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
