@model ShipmentTrackingPathFormModel

@{
    ViewBag.Title = "Create Shipment Tracking Path";
    IEnumerable<SelectListItem> Offices_Dispatch = this.Model.Offices_Dispatch.Select(x => new SelectListItem(x.Value, x.Key));
    IEnumerable<SelectListItem> Offices_Receipt = this.Model.Offices_Receipt.Select(x => new SelectListItem(x.Value, x.Key));
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (this.TempData.ContainsKey(Message))
{
    <div class="alert alert-danger">@this.TempData[Message]</div>
}

<div class="row">
    <form method="post" class="col-md-6 offset-3">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.ShipmentId" />
        <div class="form-group">
            <label asp-for="TrackingNumber"></label>
            <input asp-for="TrackingNumber" class="form-control" />
            <span asp-validation-for="TrackingNumber" class="text-danger"></span>
        </div>       
        <div class="form-group">
            <label asp-for="AcceptanceFromCustomer"></label>
            <input asp-for="AcceptanceFromCustomer" class="form-control" />
            <span asp-validation-for="AcceptanceFromCustomer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PickedUpByCourier"></label>
            <input asp-for="PickedUpByCourier" class="form-control" />
            <span asp-validation-for="PickedUpByCourier" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SendingOfficeId">Dispatch Office</label>
            <select asp-for="SendingOfficeId" class="form-control" asp-items="Offices_Dispatch"><option value="" selected>Choose An Office...</option></select>
            <span asp-validation-for="SendingOfficeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SentFromDispatchingOffice"></label>
            <input asp-for="SentFromDispatchingOffice" class="form-control" />
            <span asp-validation-for="SentFromDispatchingOffice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReceivingOfficeId">Office Of Receipt</label>
            <select asp-for="ReceivingOfficeId" class="form-control" asp-items="Offices_Receipt"><option value="" selected>Choose An Office...</option></select>
            <span asp-validation-for="ReceivingOfficeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ArrivalInReceivingOffice"></label>
            <input asp-for="ArrivalInReceivingOffice" class="form-control"/>
            <span asp-validation-for="ArrivalInReceivingOffice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FinalDeliveryPreparation"></label>
            <input asp-for="FinalDeliveryPreparation" class="form-control" />
            <span asp-validation-for="FinalDeliveryPreparation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FinalDelivery"></label>
            <input asp-for="FinalDelivery" class="form-control" />
            <span asp-validation-for="FinalDelivery" class="text-danger"></span>
        </div>
        <div class="mb-3 mt-3 offset-2 me-2">
            <input class="btn btn-primary" type="submit" value="Save Shipment Tracking Path" />
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}