@model ShipmentTrackingPathFormModel

<div class="row">
    <form method="post" class="col-md-6 offset-3">
        <input type="hidden" asp-for="@Model.Id" />        
        <div class="form-group">
            <label asp-for="TrackingNumber"></label>
            <input asp-for="TrackingNumber" class="form-control"/>
            <span asp-validation-for="TrackingNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PickedUpByCourier"></label>
    <input asp-for="PickedUpByCourier" class="form-control" placeholder="Enter pick-up date and time" />
    <span asp-validation-for="PickedUpByCourier" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SentFromDispatchingOffice"></label>
    <input asp-for="SentFromDispatchingOffice" class="form-control" placeholder="Enter date and time of sending from office" />
    <span asp-validation-for="SentFromDispatchingOffice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ArrivalInReceivingOffice"></label>
    <input asp-for="ArrivalInReceivingOffice" class="form-control" placeholder="Enter date and time of arrival at office" />                    
    <span asp-validation-for="ArrivalInReceivingOffice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FinalDeliveryPreparation"></label>
    <input asp-for="FinalDeliveryPreparation" class="form-control" placeholder="Enter date and time of preparation for final delivery" />
    <span asp-validation-for="FinalDeliveryPreparation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FinalDelivery"></label>
    <input asp-for="FinalDelivery" class="form-control" placeholder="Enter date and time of deliver to customer" /> 
    <span asp-validation-for="FinalDelivery" class="text-danger"></span>
        </div>        
        <div class="mb-3 mt-3">
            <input class="btn btn-primary" type="submit" value="Save Shipment Tracking Path" />
        </div>
    </form>
</div>
