@model StaffBoardViewModel

@{
    this.ViewData["Title"] = "Staff board";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div class="view-component-content">
    @await Component.InvokeAsync("StaffBoard")
</div>


