
<div class="col-12 text-center container clear-top">
    <h2 class="mt-7">No Shipment Found!</h2>
    <br />
</div>

<form method="get" asp-area="Staff" asp-controller="Search" asp-action="SearchShipment">
    <div class="text-center mt-5 mb-10"><button type="submit" class="btn btn-danger wrn-btn" style="margin-left:10px">Search Again</button></div>
</form>
