@{
	ViewBag.Title = "About Us";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center mt-5 mb-5">
    <img class="card-img-top" style="width: 45rem; height: 16rem;"
         src="~/img/gallery/aboutus.jpeg" alt="">
</div>

<h4 class="text-center">History and activity</h4>

<p class="mt-5 mb-5 offset-2" style="width: 50rem;">Express Eagles Courier  is a leading Bulgarian company in the courier services market with a market share of over 26%. The company was founded in 2005 and activity is supported by one of the most developed IT infrastructures on the courier market in Bulgaria. </p>

<p class="mt-5 mb-5 offset-2" style="width: 50rem;">Over the years, Express Eagles Courier services have become synonymous with high quality service, reliability and speed of delivery and competitive prices.</p>

<p class="mt-5 mb-5 offset-2" style="width: 50rem;">The company is one of the first Bulgarian courier companies to implement a certified quality management system, successfully passing the annual ISO 9001:2015 recertification audit to this day.</p>

<p class="mt-5 mb-5 offset-2" style="width: 50rem;">We are continuously investing in innovation, quality improvement and development of products and services in order to meet the growing market and customer needs and requirements.</p>

<form method="get" asp-area="" asp-controller="Home" asp-action="Index">
    <div class="text-center mt-5 mb-5"><button type="submit" class="btn btn-outline-danger wrn-btn" style="margin-left:10px">Back To Home Page</button></div>
</form>




