<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8 col-lg-5 mb-6 text-center">
			<h5 class="text-danger">FIND US</h5>
			<h2>Access us easily</h2>
		</div>
		<div class="col-12">
			<div class="card card-span rounded-2 mb-3">
				<div class="row">					
					<div class="mapouter">
						<div class="gmap_canvas">
							<iframe width="600" height="500" id="gmap_canvas" src="https://www.google.com/maps/d/embed?mid=1V2F2k7sDig-5P4DGlnROD7KmHxoar6c&ehbc=2E312F" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2piratebay.org">pirate bay</a><br><style>
.mapouter {
 position: relative;
text-align: right;
height: 500px;
width: 600px;
}																				  

</style><a href="https://www.embedgooglemap.net">google iframe</a><style>
.gmap_canvas {
overflow: hidden;
background: none !important;
height: 500px;
width: 600px;
}</style>
						
</div>
</div>
					
					<div class="col-md-6 col-lg-5 d-flex flex-center">
						<div class="card-body">
							<h5>Contact our main office</h5>
							<p class="text-700 my-4"> <i class="fas fa-map-marker-alt text-warning me-3"></i><span>Izgrev Quarter, block 94, floor 1, 8000 Bourgas</span></p>
							<p><i class="fas fa-phone-alt text-warning me-3"></i><span class="text-700">Monday - Friday: 8 am - 6pm<br /><span class="ps-4">Saturday: 8 am - 2pm  </span></span></p>
							<p><i class="fas fa-envelope text-warning me-3"> </i><a class="text-700" href="mailto:vctung@outlook.com"> expressEaglesBourgas@gmail.com</a></p>
							<ul class="list-unstyled list-inline mt-5">
								<li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-facebook-square fs-2"></i></a></li>
								<li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-instagram-square fs-2"></i></a></li>
								<li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-twitter-square fs-2"></i></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-primary px-5 mt-3" type="submit"><i class="fas fa-phone-alt me-2"></i><i class="text-light" href="tel:056 122112">Call us to delivery:  056 122112</i></button>
			</div>
		</div>
	</div>
</div>

<form method="get" asp-area="" asp-controller="Home" asp-action="Index">
	<div class="text-center mt-5 mb-5"><button type="submit" class="btn btn-outline-danger wrn-btn" style="margin-left:10px">Back To Home Page</button></div>
</form>
