@using ExpressEaglesCourier.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome to @GlobalConstants.SystemName!</h1>
    
    <h4>Your complete courier solutions</h4>
</div>
