
        <!-- ============================================-->
        <!-- <section> begin ============================-->
      <section class="py-7" id="services" container-xl="container-xl">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-5 text-center mb-3">
                        <h5 class="text-danger">SERVICES</h5>
                        <h2>Our services for you</h2>
                    </div>
                </div>
                <div class="row h-100 justify-content-center">
                    <div class="col-md-4 pt-4 px-md-2 px-lg-3">
                        <div class="card h-100 px-lg-5 card-span">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <div class="text-center pt-5">
                                    <img class="img-fluid" src="~/img/icons/services-1.svg" alt="..." />
                                    <h5 class="my-4">Business Services</h5>
                                </div>
                                <p>Offering home delivery around the city, where your products will be at your doorstep within 48-72 hours.</p>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Corporate goods
                                    </li>
                                    <li class="mb-2">
                                        <span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Shipment
                                    </li>
                                    <li class="mb-2">
                                        <span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Accesories
                                    </li>
                                </ul>
                                <div class="text-center my-5">
                                    <div class="d-grid">
                                        <button class="btn btn-outline-danger" type="submit">Learn more </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pt-4 px-md-2 px-lg-3">
                        <div class="card h-100 px-lg-5 card-span">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <div class="text-center pt-5">
                                    <img class="img-fluid" src="~/img/icons/services-2.svg" alt="..." />
                                    <h5 class="my-4">Statewide Services</h5>
                                </div>
                                <p>Offering home delivery around the city, where your products will be at your doorstep within 48-72 hours.</p>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Unlimited Bandwidth
                                    </li>
                                    <li class="mb-2">
                                        <span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Encrypted Connection
                                    </li>
                                    <li class="mb-2">
                                        <span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Yes Traffic Logs
                                    </li>
                                </ul>
                                <div class="text-center my-5">
                                    <div class="d-grid">
                                        <button class="btn btn-danger hover-top btn-glow border-0" type="submit">Learn more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pt-4 px-md-2 px-lg-3">
                        <div class="card h-100 px-lg-5 card-span">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <div class="text-center pt-5">
                                    <img class="img-fluid" src="~/img/icons/services-3.svg" alt="..." />
                                    <h5 class="my-4">Personal Services</h5>
                                </div>
                                <p>You can trust us to safely deliver your most sensitive documents to the specific area in a short time.</p>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Unlimited Bandwidth
                                    </li>
                                    <li class="mb-2">
                                        <span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Encrypted Connection
                                    </li>
                                    <li class="mb-2">
                                        <span class="me-2"><i class="fas fa-circle text-primary" style="font-size:.5rem"></i></span>Yes Traffic Logs
                                    </li>
                                </ul>
                                <div class="text-center my-5">
                                    <div class="d-grid">
                                        <button class="btn btn-outline-danger" type="submit">Learn more </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pt-7 pb-0">

            <div class="container">
                <div class="row">
                    <div class="col-6 col-lg mb-5">
                        <div class="text-center">
                            <img src="~/img/icons/awards.png" alt="..." />
                            <h1 class="text-primary mt-4">26+</h1>
                            <h5 class="text-800">Awards won</h5>
                        </div>
                    </div>
                    <div class="col-6 col-lg mb-5">
                        <div class="text-center">
                            <img src="~/img/icons/states.png" alt="..." />
                            <h1 class="text-primary mt-4">65+</h1>
                            <h5 class="text-800">States covered</h5>
                        </div>
                    </div>
                    <div class="col-6 col-lg mb-5">
                        <div class="text-center">
                            <img src="~/img/icons/clients.png" alt="..." />
                            <h1 class="text-primary mt-4">689K+</h1>
                            <h5 class="text-800">Happy clients</h5>
                        </div>
                    </div>
                    <div class="col-6 col-lg mb-5">
                        <div class="text-center">
                            <img src="~/img/icons/goods.png" alt="..." />
                            <h1 class="text-primary mt-4">130M+</h1>
                            <h5 class="text-800">Goods delivered</h5>
                        </div>
                    </div>
                    <div class="col-6 col-lg mb-5">
                        <div class="text-center">
                            <img src="~/img/icons/business.png" alt="..." />
                            <h1 class="text-primary mt-4">130M+</h1>
                            <h5 class="text-800">Business hours</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-dark text-white py-4 py-sm-0">
                            <img class="w-100" src="~/img/gallery/video.png" alt="video" />
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column flex-center">
                                <img src="~/img/icons/play.png" width="80" alt="play" />
                                <h5 class="text-primary">FASTEST DELIVERY</h5>
                                <p class="text-center">You can get your valuable item in the fastest period of<br class="d-none d-sm-block" />time with safety. Because your emergency<br class="d-none d-sm-block" />is our first priority.</p><a class="stretched-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content overflow-hidden">
                                            <div class="modal-header p-0">
                                                <div class="ratio ratio-16x9" id="exampleModalLabel">
                                                    <iframe src="https://www.youtube.com/embed/TlcP2aTOp-Q" title="YouTube video" allowfullscreen="allowfullscreen"></iframe>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>
    
        <section>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5 col-xl-4">
                        <img src="~/img/illustrations/callback.png" alt="..." />
                        <h5 class="text-danger">REQUEST A CALLBACK</h5>
                        <h2>We will contact in the shortest time.</h2>
                        <p class="text-muted">Monday to Friday, 9am-5pm.</p>
                    </div>
                    <div class="col-md-6 col-lg-5 col-xl-4">
                        <form class="row">
                            <div class="mb-3">
                                <label class="form-label visually-hidden" for="inputName">Name</label>
                                <input class="form-control form-quriar-control" id="inputName" type="text" placeholder="Name" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label visually-hidden" for="inputEmail">Another label</label>
                                <input class="form-control form-quriar-control" id="inputEmail" type="email" placeholder="Email" />
                            </div>
                            <div class="mb-5">
                                <label class="form-label visually-hidden" for="validationTextarea">Message</label>
                                <textarea class="form-control form-quriar-control is-invalid border-400" id="validationTextarea" placeholder="Message" style="height: 150px" required="required"></textarea>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Send Message<i class="fas fa-paper-plane ms-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
       
        
