
<section class="py-7">

    <div class="container-fluid">
        <div class="row flex-center">
            <div class="bg-holder bg-size" style="background-image:url(~/img/gallery/quote.png);background-position:top;background-size:auto;margin-left:-270px;margin-top:-45px;">
            </div>
            <div class="col-md-8 col-lg-5 text-center">
                <h5 class="text-danger">TESTIMONIAL</h5>
                <h2>Our Awesome Clients</h2>
            </div>
        </div>
        <div class="carousel slide pt-6" id="carouselExampleDark" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row h-100">
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card h-100 card-span p-3">
                                <div class="card-body">
                                    <h5 class="mb-0 text-primary">Fantastic service!</h5>
                                    <p class="card-text pt-3">
                                        "Simple and effective, will be using regularly. Good value and makes the process of moving big things around so much easier!"

                                    </p>
                                    <div class="d-xl-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center mb-3"><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i></div>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid" src="~/img/gallery/testimonial-author-1.webp" alt="" />
                                            <div class="flex-1 ms-3">
                                                <h6 class="mb-0 fs--1 text-1000 fw-medium">M. W. </h6>
                                                <p class="fs--2 fw-normal mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card h-100 card-span p-3">
                                <div class="card-body">
                                    <h5 class="mb-0 text-primary">Awesome service!</h5>
                                    <p class="card-text pt-3">
                                        "In a matter of hours, I received an offer that matched my budget from a company with very good feedback. I love being able to rely on EEC for getting the precious finds across the country for a reasonable price."

                                    </p>
                                    <div class="d-xl-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center mb-3"><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i></div>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid" src="~/img/gallery/testimonial-author-2.webp" alt="" />
                                            <div class="flex-1 ms-3">
                                                <h6 class="mb-0 fs--1 text-1000 fw-medium">S.B.</h6>
                                                <p class="fs--2 fw-normal mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card h-100 card-span p-3">
                                <div class="card-body">
                                    <h5 class="mb-0 text-primary">Awesome service!</h5>
                                    <p class="card-text pt-3">
                                        "EEC fills the gaps between getting bulky items collected and delivered and you having to go get them yourself. Used them many times, saves me lots of time and money."

                                    </p>
                                    <div class="d-xl-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center mb-3"><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i></div>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid" src="~/img/gallery/testimonial-author-3.webp" alt="" />
                                            <div class="flex-1 ms-3">
                                                <h6 class="mb-0 fs--1 text-1000 fw-medium">J.G.</h6>
                                                <p class="fs--2 fw-normal mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="row h-100">
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card h-100 card-span p-3">
                                <div class="card-body">
                                    <h5 class="mb-0 text-primary">Fantastic service!</h5>
                                    <p class="card-text pt-3">
                                        "All went very smoothly and easily and the courier whose bid I accepted were lovely, good communication, and helpful. Couldn't fault at all and would certainly use again."

                                    </p>
                                    <div class="d-xl-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center mb-3"><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i></div>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid" src="~/img/gallery/testimonial-author-4.jpg" alt="" />
                                            <div class="flex-1 ms-3">
                                                <h6 class="mb-0 fs--1 text-1000 fw-medium">C. H.</h6>
                                                <p class="fs--2 fw-normal mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card h-100 card-span p-3">
                                <div class="card-body">
                                    <h5 class="mb-0 text-primary">Awesome service!</h5>
                                    <p class="card-text pt-3">
                                        "In a matter of hours, I received an offer that matched my budget from a company with very good feedback. I love being able to rely on EEC for getting the precious finds across the country for a reasonable price."

                                    </p>
                                    <div class="d-xl-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center mb-3"><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i></div>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid" src="~/img/gallery/testimonial-author-2.webp" alt="" />
                                            <div class="flex-1 ms-3">
                                                <h6 class="mb-0 fs--1 text-1000 fw-medium">S.B.</h6>
                                                <p class="fs--2 fw-normal mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card h-100 card-span p-3">
                                <div class="card-body">
                                    <h5 class="mb-0 text-primary">Awesome service!</h5>
                                    <p class="card-text pt-3">
                                        "EEC fills the gaps between getting bulky items collected and delivered and you having to go get them yourself. Used them many times, saves me lots of time and money."

                                    </p>
                                    <div class="d-xl-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center mb-3"><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i></div>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid" src="~/img/gallery/testimonial-author-3.webp" alt="" />
                                            <div class="flex-1 ms-3">
                                                <h6 class="mb-0 fs--1 text-1000 fw-medium">J.G.</h6>
                                                <p class="fs--2 fw-normal mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="row h-100">
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card h-100 card-span p-3">
                                <div class="card-body">
                                    <h5 class="mb-0 text-primary">Fantastic service!</h5>
                                    <p class="card-text pt-3">
                                        "All went very smoothly and easily and the courier whose bid I accepted were lovely, good communication, and helpful. Couldn't fault at all and would certainly use again."

                                    </p>
                                    <div class="d-xl-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center mb-3"><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i><i class="fas fa-star text-primary me-1"></i></div>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid" src="~/img/gallery/testimonial-author-4.jpg" alt="" />
                                            <div class="flex-1 ms-3">
                                                <h6 class="mb-0 fs--1 text-1000 fw-medium">C. H.</h6>
                                                <p class="fs--2 fw-normal mb-0"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="row px-3 px-md-0 mt-6">
                <div class="col-12 position-relative">
                    <ol class="carousel-indicators">
                        <li class="active" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"></li>
                        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>